<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>using vue 3</title>
    <!-- including vue library -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.30/dist/vue.global.prod.js"></script>
    <style>
      html,
      body {
        background-color: rgb(45, 169, 183);
      }
    </style>
  </head>
  <body>
    <div id="app1">
      <h1>WORKING WITH VUE 3</h1>
      <!-- taking input using v-model -->
      <p>ENTER YOUR NAME</p>
      <input type="text" v-model="inputText" placeholder="enter text" />
      <p>YOUR NAME: {{inputText}}</p>

      <!-- using v-if and v-else -->
      <button @click="showoption=!showoption">OPTION</button>
      <h2 v-if="showoption">You like your name !!</h2>
      <h2 v-else>Oh No you don't !!</h2>

      <!-- using v-show -->
      <h3 v-show="display">HEY THERE</h3>

      <!-- using v-if with v-for -->
      <p>here is the list of fruits you have</p>
      <ol>
        <li v-for="(material,indexnumber) in materials" :key="indexnumber">
          {{material.name}}
          <span v-if="material.isgood">(good)</span>
        </li>
      </ol>
      <br />
      <!-- using v-for  -->
      <p>here is the list of vegetables you have</p>
      <ol>
        <li v-for="(veggie,index) in veggies" :key="count">{{veggie}}</li>
      </ol>
    </div>

    <!-- initializing vue -->
    <script>
      const app1 = Vue.createApp({
        data() {
          return {
            inputText: "",
            showoption: true,
            display: true,
            materials: [
              { name: "apple", isgood: true },
              { name: "mango", isgood: false },
              { name: "grapes", isgood: true },
              { name: "guava", isgood: false },
            ],
            veggies: ["brinjal", "carrot", "onion", "tomato", "capsicum"],
          };
        },
      });
      app1.mount("#app1");
    </script>
  </body>
</html>
